@media screen and (min-width: 481px) {
  .content {
    max-width: 85%;
  }
}

@media screen and (min-width: 769px) {
  .content {
    max-width: 88%;
    max-height: 15rem;
  }
}

@media screen and (min-width: 1025px) {
  .content {
    max-width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    max-width: 93%;
  }
}
