<app-title title="Contacts"></app-title>
<div>
  <div>
    <app-infocard title="Developer" value="Marcos Bonfadini"></app-infocard>
    <app-infocard title="Contact" value="mbabonfadini@gmail.com"></app-infocard>
    <app-infocard title="About Me" value="I'm 23 years old and embarked on my career journey back in 2019 as a salesperson. Fast forward to today, and I proudly hold the title of Senior Project Analyst at a multinational company. My expertise lies in JavaScript and React, where I've had the opportunity to develop and create remarkable projects. I'm also proficient in HTML and CSS, which play a vital role in web development.

    Recently, I've expanded my skill set by diving into the world of Java and Angular, thanks to a scholarship I received from Santander. Learning these new technologies has been an exciting challenge, and I'm eager to apply them in real-world projects.

    I have a genuine passion for teamwork and believe in the power of collaboration to achieve outstanding results. I'm not only dedicated to my professional growth but also committed to my personal development journey. Every day, I strive to learn, improve, and contribute to making a positive impact in both my career and personal life."></app-infocard>
  </div>
  <div>

  </div>
</div>
