.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  max-height: 93%;
  padding: 2rem 1rem;
  background-color: #3a465d96;
  border-radius: 0.85rem;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 3rem;
    background: linear-gradient(180deg, #0a6cce 0%, #35d1e5 100%);

    &:horizontal {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: #0a6cce;
  }
}
