<section class="home">
  <header class="home__nav">
    <app-sidebar> </app-sidebar>
  </header>
  <article class="home__content">
    <h1>Meus Projetos</h1>
    <div class="home__content__projects">
      <app-card
        src="/assets/imgs/angularProject.svg"
        description="Olá"
        type="Build"
        title="Criando components com Angular"
        text="Esse é um card de projeto"
      ></app-card>
      <app-card
        src="/assets/imgs/angularProject.svg"
        description="Olá"
        type="Build"
        title="Criando components com Angular"
        text="Esse é um card de projeto"
      ></app-card>
      <app-card
        src="/assets/imgs/angularProject.svg"
        description="Olá"
        type="Build"
        title="Criando components com Angular"
        text="Esse é um card de projeto"
      ></app-card>
      <app-card
        src="/assets/imgs/angularProject.svg"
        description="Olá"
        type="Build"
        title="Criando components com Angular"
        text="Esse é um card de projeto"
      ></app-card>
    </div>
  </article>
</section>
