<app-title title="My Projects"></app-title>
<div class="projects">
  <app-card
    src="/assets/imgs/angularProject.svg"
    description="Olá"
    type="Build"
    title="Criando components com Angular"
    text="Esse é um card de projeto"
  ></app-card>
  <app-card
    src="/assets/imgs/angularProject.svg"
    description="Olá"
    type="Build"
    title="Criando components com Angular"
    text="Esse é um card de projeto"
  ></app-card>
  <app-card
    src="/assets/imgs/angularProject.svg"
    description="Olá"
    type="Build"
    title="Criando components com Angular"
    text="Esse é um card de projeto"
  ></app-card>

</div>
