.title {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  background: linear-gradient(180deg, #0a6cce 0%, #35d1e5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
